<f:layout name="Standalone"/>

The standalone layout is used since it is not rendered on a page

<f:section name="main">
	<div class="hero-unit">
		<p>{message}</p>
		<p>
			<a class="btn btn-primary btn-large" href="/">
				<f:translate key="back_to_website" extensionName="PxaNewsletterSubscription"/>
			</a>
		</p>
	</div>
</f:section>
