<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
additionalParams="{type:6171239}" 

<f:section name="main">

	<div class="tx_pxanewslettersubscription">
	<f:form actionUri="/" id="contact-form" class="form">
		<f:form.hidden name="ceuid" value="{ceuid}" />
		<div class="row control-group form-group">
			<div class="col-sm-6">
				<div class="input-append input-group" data-role="acknowledge-input">
					<input type="text" placeholder="<f:translate key='name' />" class="form-control" name="name" id="name" data-type="text">
					<span class="input-group-addon" data-role="acknowledgement"><i></i></span>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="input-append input-group" data-role="acknowledge-input">
					<input type="text" placeholder="<f:translate key='email' />" class="form-control" name="email" id="email" data-type="email">
					<span class="input-group-addon" data-role="acknowledgement"><i></i></span>
				</div>
			</div>
		</div>
		<div class="control-group form-group">
			<div class="subscribe form-actions pull-right">
				<button type="submit" class="btn btn-default"><f:translate key="subscribe" /> <i class="icon-spinner icon-spin icon-large" style="display:none;"></i></button>
			</div>
			<div class="unsubscribe form-actions hidden pull-right">
				<button type="submit" class="btn btn-default"><f:translate key="unsubscribe" /> <i class="icon-spinner icon-spin icon-large" style="display:none;"></i></button>
			</div>
		</div>
	</f:form>
	<script type="text/javascript">
		var jqXHR_error_message = '<f:translate key='jqhxr_error_message' />'
	</script>
</div>

</f:section>